body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: url("https://storage.googleapis.com/blog-images-backup/0*I-sI3u34g0ydRqyA");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  margin: 10px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: slateblue;
  color: aliceblue;
}
button:hover {
  background-color: rgb(60, 43, 170);
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
form button {
  margin: 10px auto;
  padding: 5px 15px;
  width: 20%;
}
